.hero {
  padding-top: 100px;

  @include media(desktop) {
    padding-top: 167px;
  }
}

.hero-wrapper {
  display: flex;
  position: relative;
}

.hero-text-button-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-basis: 272px;

  @include media(desktop) {
    flex-basis: 728px;
    gap: 38px;
  }
}

.hero-title {
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;

  @include media(desktop) {
    font-size: 64px;
    line-height: 90px;
  }
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;

  @include media(desktop) {
    font-size: 24px;
    line-height: 36px;
  }
}

.hero-image {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    right: -196px;
    bottom: -186px;
  }
}

.hero-button {
  display: none;

  @include media(desktop) {
    display: flex;
    font-size: 20px;
    width: 272px;
    height: 60px;
    padding: 6px 37px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: radial-gradient(
      74% 74% at 50% 50%,
      rgb(255, 196, 0),
      rgb(255, 111, 0) 100%
    );
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero-button:hover,
.hero-button:focus {
  border: 2px solid rgba(255, 129, 1, 0.5);
  background: radial-gradient(
    94% 94% at 50% 50%,
    rgb(255, 196, 0),
    rgb(255, 247, 0) 51%,
    rgb(255, 111, 0) 99.56%
  );
}

.hero-button:active {
  border: 2px solid rgba(255, 129, 1, 0.5);
  background: radial-gradient(
    158% 158% at 50% 50%,
    rgb(255, 246, 0) 35.992%,
    rgb(255, 111, 0) 100%
  );
}
