<section id="about-us-section">
  <div class="container">
    <h2 class="title desk-title">About Us</h2>
    <ul>
      <li class="about-list-item">
        <picture>
          <source
            srcset="
              ./img/about-us-img/magic_deskt.jpg    1x,
              ./img/about-us-img/magic_deskt@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./img/about-us-img/magic_mobi.jpg    1x,
              ./img/about-us-img/magic_mobi@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./img/about-us-img/magic_deskt.jpg"
            alt="magic beetle"
            height="254"
            width="352"
            class="about-lis-img"
          />
        </picture>
        <p class="about-list-text">
          Jewel Queen: Puzzle &amp; Magic is a captivating and relaxing match-3
          puzzle game that blends challenging puzzles with magical gameplay.
          Dive into a world filled with sparkling jewels, powerful enchantments,
          and beautifully designed levels that create an immersive and soothing
          experience. Players match colorful jewels, unlock mystical abilities,
          and progress through enchanting environments while solving intricate
          puzzles
        </p>
      </li>
      <li class="about-list-item">
        <picture>
          <source
            srcset="
              ./img/about-us-img/offer_deskt.jpg    1x,
              ./img/about-us-img/offer_deskt@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./img/about-us-img/offer_mobi.jpg    1x,
              ./img/about-us-img/offer_mobi@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./img/about-us-img/magic_deskt.jpg"
            alt="magic tron"
            height="168"
            width="352"
            class="about-lis-img"
          />
        </picture>
        <p class="about-list-text">
          The game offers a perfect balance of challenge and relaxation,
          allowing players to enjoy each puzzle at their own pace. As you match
          jewels, you will unlock powerful magic that helps you solve even more
          complex puzzles. The magical elements provide a sense of adventure,
          while the gentle difficulty curve ensures the game remains enjoyable
          and accessible to players of all ages.
        </p>
      </li>
      <li class="about-list-item">
        <picture>
          <source
            srcset="
              ./img/about-us-img/queen_deskt.jpg    1x,
              ./img/about-us-img/queen_deskt@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./img/about-us-img/queen_mobi.jpg    1x,
              ./img/about-us-img/queen_mobi@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./img/about-us-img/magic_deskt.jpg"
            alt="magic queen"
            height="196"
            width="354"
            class="about-lis-img"
          />
        </picture>
        <p class="about-list-text">
          Jewel Queen: Puzzle & Magic invites players into an enchanting world
          where every jewel has a secret power. Each level is a new opportunity
          to discover unique magic, unlock hidden treasures, and explore
          stunning visuals that keep you coming back for more. Whether you're a
          puzzle enthusiast or simply looking to relax with a soothing game,
          Jewel Queen offers a delightful escape into a world of magic, mystery,
          and fun.
        </p>
      </li>
    </ul>
  </div>
</section>
