<header class="container">
  <div class="header-wraper">
    <div class="header-logo-wraper">
      <a href="./index.html"
        ><img
          src="./img/header-img/logo.svg"
          alt="logo"
          class="header-logo"
          width="55"
          height="55"
        />
      </a>
    </div>
    <nav class="header-list-wraper">
      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-list-link" href="./index.html">Home</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#">Gallery</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#about-us-section">About Us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#">Reviews</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#features-section">Features</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn-wraper">
      <button class="header-btn-burger js-open-menu cordinate">
        <img
          src="./img/header-img/burger-menu.svg"
          alt="logo"
          class="header-burger-img"
          width="30"
          height="30"
        />
      </button>
    </div>
  </div>
</header>
