<section class="hero">
  <div class="hero-wrapper container">
    <div class="hero-text-button-container">
      <h1 class="hero-title">Jewel Queen: <br />Puzzle &amp; Magic</h1>
      <p class="hero-text">
        "Match, Discover, and Unleash Magical Powers in the Enchanting World of
        Jewels!"
      </p>
      <a
        class="download-button"
        id="display-none"
        aria-label="Download Jewel Queen on Google Play"
        href="https://play.google.com/store/apps/details?id=com.mobowl.JewelQueen.google"
        ><img
          class="btn-icon"
          src="./img/google_download.svg"
          alt="google play logo"
        />
        <p>
          <span class="btn-text-small">Download on</span>
          <span class="btn-text-big">Google Play</span>
        </p></a
      >
    </div>
    <img
      class="hero-image"
      srcset="
        ./img/hero-img/hero-iphone-desktop1x.png 392w,
        ./img/hero-img/hero-iphone-desktop2x.png 784w
      "
      sizes="(min-width: 1200px) 392px, 100vw"
      src="./img/hero-img/hero-iphone-desktop1x.png"
      alt="Jewel Queen game displayed on an iPhone screen"
      width="859"
      height="644"
    />
  </div>
</section>
