<section class="reviews-section" id="reviews-section">
  <div class="container reviews-container">
    <h2 class="title">Reviews</h2>
    <div class="swiper-reviews swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="slide-box">
            <p class="reviews-card-text">
              A magical experience! The puzzles are fun, and the visuals are
              absolutely stunning!
            </p>
            <div class="reviews-card-box">
              <img
                class="reviews-card-img"
                srcset="
                  ./img/reviews-img/magiclover.jpg    1x,
                  ./img/reviews-img/magiclover@2x.jpg 2x
                "
                src="./img/reviews-img/magiclover.jpg"
                alt="MagicLover"
                loading="lazy"
                width="32"
                height="32"
              />
              <p class="reviews-card-theme">MagicLover</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-box">
            <p class="reviews-card-text">
              The gameplay is so smooth, and the magical powers make solving
              puzzles even more exciting. Highly recommend!
            </p>
            <div class="reviews-card-box">
              <img
                class="reviews-card-img"
                srcset="
                  ./img/reviews-img/puzlefanatic.jpg    1x,
                  ./img/reviews-img/puzlefanatic@2x.jpg 2x
                "
                src="./img/reviews-img/puzlefanatic.jpg"
                alt="puzlefanatic"
                loading="lazy"
                width="32"
                height="32"
              />
              <p class="reviews-card-theme">PuzzleFanatic</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-box">
            <p class="reviews-card-text">
              Great game for both relaxation and challenge. The graphics and
              gameplay are top-notch!
            </p>
            <div class="reviews-card-box">
              <img
                class="reviews-card-img"
                srcset="
                  ./img/reviews-img/jewelsmaster.jpg    1x,
                  ./img/reviews-img/jewelsmaster@2x.jpg 2x
                "
                src="./img/reviews-img/jewelsmaster.jpg"
                alt="JewelsMaster"
                loading="lazy"
                width="32"
                height="32"
              />
              <p class="reviews-card-theme">JewelsMaster</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-box">
            <p class="reviews-card-text">
              A perfect mix of puzzle-solving and magic. It’s my new favorite
              game!
            </p>
            <div class="reviews-card-box">
              <img
                class="reviews-card-img"
                srcset="
                  ./img/reviews-img/puzlewizard.jpg    1x,
                  ./img/reviews-img/puzlewizard@2x.jpg 2x
                "
                src="./img/reviews-img/puzlewizard.jpg"
                alt="EnchantingPlayer"
                loading="lazy"
                width="32"
                height="32"
              />
              <p class="reviews-card-theme">PuzzleWizard</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-box">
            <p class="reviews-card-text">
              I love the magical elements in the game, and the levels keep me
              engaged for hours!
            </p>
            <div class="reviews-card-box">
              <img
                class="reviews-card-img"
                srcset="
                  ./img/reviews-img/enchantingplayer.jpg    1x,
                  ./img/reviews-img/enchantingplayer@2x.jpg 2x
                "
                src="./img/reviews-img/enchantingplayer.jpg"
                alt="EnchantingPlayer"
                loading="lazy"
                width="32"
                height="32"
              />
              <p class="reviews-card-theme">EnchantingPlayer</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="review-nav">
        <button class="reviews-btn carousel-btn prev" type="button">
          <svg class="review-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrowsmallleft"></use>
          </svg>
        </button>
        <div class="pagination">
          <span class="pagination-btn"></span>
          <span class="pagination-btn"></span>
          <span class="pagination-btn"></span>
          <span class="pagination-btn"></span>
          <span class="pagination-btn"></span>
        </div>
        <button class="reviews-btn carousel-btn next" type="button">
          <svg class="review-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrowsmallright"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
