:root {
  font-family: 'Montserrat Alternates', sans-serif;
  color: var($_main_text_color);
  background-color: var($_main_bg_color);
}
// common

@import './common/vars';
@import './common/reset';
@import './common/mixins';
@import './common/breakpoints';

// base

@import './base';
//layouts
@import './layouts/header';
@import './layouts/hero';
@import './layouts/gallery';
@import './layouts/about-us';
@import './layouts/reviews';
@import './layouts/features';
@import './layouts/footer';
@import './layouts/policy';
@import './layouts/terms';
